@import url("https://fonts.googleapis.com/css2?family=Anek+Odia:wght@100..800&family=Odibee+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-chalks: rgb(24, 24, 26);
  --main-white: rgb(255, 255, 255);
  --main-white-two-percent: rgba(255, 255, 255, 0.2);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-chalks);
  max-width: 1790px;
  width: 100%;
  margin: 0 auto;
}
