#recover-container {
  background-image: url("../images/quadra-18.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  max-width: 1790px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

#recover-container::before {
  width: 100%;
  height: 100vh;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(33, 33, 34);
  opacity: 0.9;
  z-index: -1;
}

#form-recover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: var(--main-white);
  max-width: 600px;
  margin: 0 auto;
  padding: 0 16px;
}

.message {
  border-radius: 4px;
  padding: 8px;
}

.error {
  background-color: rgb(216, 64, 64);
}

.success {
  background-color: rgb(49, 202, 49);
}

#form-recover h3 {
  font-family: var(--font-title);
  font-size: 2em;
  letter-spacing: 2px;
  text-align: center;
}

#form-recover label {
  font-family: var(--font-body);
  font-size: 1.2em;
  display: block;
  text-align: left;
  margin: 24px 0 16px;
}

#form-recover p {
  text-align: center;
  font-family: var(--font-body);
  font-size: 1.2em;
  margin-top: 32px;
}

#form-recover a {
  text-decoration: none;
  color: var(--main-white);
}

#form-recover input {
  background-color: transparent;
  font-family: var(--font-body);
  color: var(--main-white);
  font-size: 1.2em;
  border: solid 1.5px var(--main-white);
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 32px;
  transition: border 0.5s ease-in-out;
  outline: none;
}

#form-recover input:focus {
  border: 1.5px solid rgb(133, 81, 230);
}

#form-recover button {
  background-color: var(--dark-chalks);
  color: var(--main-white);
  font-family: var(--font-body);
  font-size: 1.2em;
  border: solid 1.5px var(--main-white);
  border-radius: 4px;
  padding: 16px;
  transition: all 0.2s ease-in-out;
}

#form-recover button:hover {
  background-color: var(--main-white);
  color: var(--dark-chalks);
}
